@page
@model WebAplicacion.Pages.ContactoModel
@{
    ViewData["Title"] = "Contacto";
}

<h1>Contacto</h1>
<p>¿Querés saber más sobre mis viajes? Escribime a <strong>viajes@don-tomas.com</strong> o encontrame en redes sociales.</p>
